<section class="profile-detail">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="basic-information">
                    <div class="col-md-3 col-sm-3">
                     <img src="../../../assets/img/profileImage.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="profile-content">
                                <h2>{{name}}<span>{{accountType | titlecase}}</span></h2>
                                <ul class="information">
                                    <li><span>Name:</span>{{name}}</li>
                                    <li><span>Email:</span>{{email}}</li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>