<div class="company-list">
    <div class="row center">
        <!-- <div class="col-md-2 col-sm-2">
            <div class="company-logo">
                <img src="img/google.png" class="img-responsive" alt="" />
            </div>
        </div> -->
        <div class="col-md-12 col-sm-12">
            <div class="company-content">
                <h3>{{ title }}</h3>
                <p>
                    <span class="company-name"><b>Category:</b> {{ category }}</span>
                    <span class="company-location"><b>Job Type:</b> {{ type }}</span>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <a type="submit" class="btn view-job" name="View Job">View Job</a>
        </div>
    </div>
</div>