/* You can add global styles to this file, and also import other style files */
.loginBtn {
    background-color: #DA0000;
    padding: 10px 30px 10px 30px;
    border: none;
    color: azure;
    font-size: 1.2em;
}

.likeBtn {
    background-color: white;
    padding: 10px 30px 10px 30px;
    color: #DA0000 !important;
    font-size: 1.2em;
    font-weight: 500;
    border: 2px solid black;
    text-decoration: none;
}
.likeBtn-toggle {
    background-color: #DA0000;
    padding: 10px 30px 10px 30px;
    color: white !important;
    font-size: 1.2em;
    font-weight: 500;
    border: 2px solid black;
    text-decoration: none;
}

.text-red {
    color: #da0000;
}

.active-nav-link {
    color: #da0000 !important;
}

.opacity-50 {
    opacity: 0.5;
}

.bg-red {
    background-color: #DA0000;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: lightskyblue;
}

.alert {
    color: white;
}

.browse-link {
    background-color: #DA0000;
    padding: 20px 50px 20px 50px;
    border: none;
    color: lightcyan;
    font-size: 1.2em;
    text-decoration: none;
}

.browse-link:hover {
    background-color: darkred;
    padding: 25px 55px 25px 55px;
    border: none;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.radio-buttons>* {
    float: left;
    margin-right: 15px;
}


.center {
    text-align: center;
}

.align-center {
    vertical-align: middle;
}

.company-list {
    margin: 20px !important;
    text-align: center;

}

.companies>* {
    margin: 0 auto;
}

.job-details-buttons {
    text-align: center;
}

.job-details-buttons a {
    display: block;
    margin-bottom: 4px;
    color: white;
    text-decoration: none;
}

.job-details-buttons a:hover {
    display: block;
    margin-bottom: 4px;
    color: white;
    text-decoration: none;
}